body {
  background: #f9f3ea;
}

.dashboard-container {
  display: flex;
  width: 85%;
  min-height: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  .left {
    width: 50%;
    padding: 1rem;
    text-align: start;

    .task-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
  .right {
    padding: 1rem;
    width: 50%;
    background: #f8f9fa;
  }
}

.timer {
  font-size: 3.5rem;
  line-height: 1.2;
}

.secondary {
  background-color: #6c757d;
  color: #fff;
  &:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
}

.info {
  background-color: #17a2b8;
  color: #fff;
  &:hover:not(:disabled) {
    background-color: #138496;
    border-color: #117a8b;
  }
}

.alert {
  background-color: #dc3545;
  color: #fff;
  &:hover:not(:disabled) {
    background-color: #c82333;
    border-color: #bd2130;
  }
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.2rem 0.75rem;
  margin: 0.5rem 0;
  font-size: inherit;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
